<!-- <po-page-edit p-title="Orçamentos" class="p-m-0"> -->
    <div>
        <po-loading-overlay [hidden]="isHideLoading"></po-loading-overlay>
      </div>
    <po-page-default p-title="Sessão de Produtos">
    <div class="po-row">
        <po-input class="po-md-5" name="buscacliente" p-label="Pesquisar produto" [(ngModel)]="Tape"
            (p-change-model)="buscaTape()" p-icon="po-icon po-icon-search">
        </po-input>
        <po-widget class="po-m-5" style="margin-left: auto">Itens: {{this.quantidadeTape}}</po-widget>
        <po-button class="po-m-5" style="margin-left: auto" p-label="Exportar" (p-click)="Exportacao()"></po-button>
        <po-button *ngIf="criar === 'true'" class="po-m-5" p-label="+ Incluir produto" (p-click)="criarTape()"
            p-type="primary">
        </po-button>
    </div>
    <po-table [p-hide-columns-manager]="true" [p-hide-table-search]="true" [p-sort]="true" [p-striped]="true"
        p-container="light" [p-columns]="colunas" [p-items]="listaTapes" p-container="shadow">
    </po-table>
</po-page-default>

<po-modal #modalTape [p-primary-action]="confirmaTape" [p-secondary-action]="cancelarTape" p-size="auto"
    [p-hide-close]="true" p-title="Tape">
    <form #optionsForm="ngForm">
        <div class="po-row">
            <po-input class="po-md-12" name="titulo" [(ngModel)]="titulo" p-label="Titulo"></po-input>
            <po-lookup
            *ngIf="altera === false"
            class="po-md-12"
            name="lookup"
            [(ngModel)]="Artista"
            placeholderSearch="nome"
            p-field-label="nome"
            p-field-value="id"
            p-filter-service="http://192.168.2.15:3000/consultarNomes"
            p-label="Carregar Artista"
          >
          </po-lookup>
           <po-input *ngIf="altera" class="po-md-12" name="artista" [(ngModel)]="artista" p-label="Artista"></po-input>
            <po-combo class="po-md-6" name="etiqueta" p-label="Etiqueta" [ngModel]="etiqueta"
                (ngModelChange)="etiqueta = $event" [p-options]="Etiqueta"> </po-combo>
            <po-combo class="po-md-12" name="gravadora" p-label="Gravadora" [ngModel]="gravadora"
                (ngModelChange)="gravadora = $event" [p-options]="Gravadora"> </po-combo>
            <po-input class="po-md-6" name="novoNumero" [(ngModel)]="novoNumero" p-label="Numero Tape"></po-input> 
            <po-input class="po-md-6" name="produtorMusical" [(ngModel)]="produtorMusical"
                p-label="Produtor musical"></po-input>
                <po-table class="po-md-12"
                [p-hide-batch-actions]="false"
                [p-hide-table-search]="false"
                [p-hide-text-overflow]="true"
                [p-selectable]="true"
                [p-sort]="true"
                [p-striped]="true"
                [p-columns]="columnsTipoMidia"
                [p-items]="opcoesMidia"
                (p-collapsed)="onCollapseDetail()"
                (p-expanded)="onExpandDetail()"
                (p-selected)="sumTotal($event)"
                (p-unselected)="decreaseTotal($event)"
                (p-change-visible-columns)="changeColumnVisible($event)"              >
              </po-table>
            <po-switch class="po-md-4" name="stream" p-label="On stream" [(ngModel)]="stream"> </po-switch>
            <po-switch class="po-md-4" name="notstream" p-label="Not stream" [(ngModel)]="notStream"> </po-switch>
            <po-switch class="po-md-4" name="midia" p-label="Midia digitalizada" [(ngModel)]="midiaDigital"> </po-switch>
            <po-checkbox-group *ngIf="stream" class="po-lg-12" name="agregadoresss" p-label="Selecione o(s) agregador(es)" [p-options]="agregadorOptions"
            [ngModel]="agregadoresMarcados" (ngModelChange)="agregadoresMarcados = $event">
            </po-checkbox-group>
            <po-button class="po-m-6"  p-label="Incluir Musica" (p-click)="IncluirMusica()"></po-button>
        </div>
        <po-table [p-hide-columns-manager]="true" [p-hide-table-search]="true" [p-sort]="true"
        [p-striped]="true" p-container="light" [p-columns]="columns" [p-items]="listaMusicas" p-container="shadow"></po-table>
  
          <!--<po-table [p-hide-columns-manager]="true" [p-hide-table-search]="true" [p-sort]="true"
          [p-striped]="true" p-container="light" [p-columns]="columns" [p-items]="listaMusicas" p-container="shadow"> 
    </po-table>-->
    </form>
</po-modal>
<po-modal #modalMusica [p-primary-action]="confirmaMusica" [p-secondary-action]="cancelarMusica"  p-click-out="false"
        [p-hide-close]="true" p-title="Musica">
        <form #ProdutoForm="ngForm">
            <po-divider p-label="Dados gerais"></po-divider>
            <div class="po-row">
                <po-input class="po-md-2" name="faixa" p-label="Faixa"   [(ngModel)]="faixa"  ></po-input>
                <po-input class="po-md-2" name="lado" p-label="Lado"   [(ngModel)]="lado"  ></po-input>     
                <po-input class="po-md-8"name="nomeMusica" p-label="Nome da musica" [(ngModel)]="nome_musica"    ></po-input>
                <po-input class="po-md-6"name="genero" p-label="Genero" [(ngModel)]="genero"    ></po-input>
                <po-input class="po-md-6" name="autor" p-label="Autor"          [(ngModel)]="autor"     ></po-input>
            </div>
        </form>
    </po-modal>
<po-modal #modalExibeTape p-size="xl" p-click-out="false" [p-hide-close]="true" p-title="Tape">
    <po-button style="margin-left: auto" class="po-m-5" p-label="Imprimir QR Code" (p-click)="abrirQRCode()"
    p-type="primary">
    </po-button>
    <div class="wrapper">
        <h1>PolyMusic</h1>
        <div class="table-container">
            <table class="header">
                <tbody>
                    <tr>
                        <td>Título:</td>
                        <td contenteditable="false">{{ this.titulo }}</td>
                    </tr>
                    <tr>
                        <td>Numero do tape:</td>
                        <td contenteditable="false">{{ this.novoNumero }}</td>
                    </tr>
                    <tr>
                        <td>Artista:</td>
                        <td contenteditable="false">{{ this.artista }}</td>
                    </tr>
                    <tr>
                        <td>Gravadora:</td>
                        <td contenteditable="false">{{ this.gravadoraName }}</td>
                    </tr>
                    <tr>
                        <td>Etiqueta:</td>
                        <td contenteditable="false">{{ this.etiquetaName }}</td>
                    </tr>
                    <tr>
                        <td>Produtor Musical:</td>
                        <td contenteditable="false">{{ this.produtorMusical }}</td>
                    </tr>
                    <tr>
                        <td>Tipos de midia:</td>
                        <td contenteditable="false">{{ this.midia }}</td>
                    </tr>
                    <tr>
                        <td>Subiu para o streaming:</td>
                        <td contenteditable="false">{{ this.subiu }}</td>
                    </tr>
                </tbody>
            </table>
            <table>
                <thead>
                    <tr>
                        <th>Faixa</th>
                        <th>Lado</th>
                        <th>Música</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Lista de Músicas -->
                    <tbody>
                        <tr *ngFor="let musica of listaMusicas">
                            <td contenteditable="false" >{{ musica.faixa }}</td>
                            <td contenteditable="false">{{ musica.lado }}</td>
                            <td contenteditable="false">
                                {{ musica.musica }} <br> ({{ musica.autor }})
                            </td>
                            
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>
</po-modal>
<po-modal #modalTapeView p-size="xl" p-click-out="false" [p-hide-close]="true" p-title="Tape">

    <po-divider p-label="Dados gerais"></po-divider>
    <div class="po-row">
        <po-input class="po-md-12" name="titulo" p-disabled="true" [(ngModel)]="titulo" p-label="Titulo"></po-input>
        <po-input class="po-md-12" name="artista" p-disabled="true" [(ngModel)]="artista" p-label="Artista"></po-input>
        <po-combo class="po-md-6" name="gravadora" p-label="Gravadora" [p-disabled]="true" [ngModel]="gravadora"
            (ngModelChange)="gravadora = $event" [p-options]="Gravadora"> </po-combo>
        <po-combo class="po-md-6" name="etiqueta" p-label="Etiqueta" [p-disabled]="true" [ngModel]="etiqueta"
            (ngModelChange)="etiqueta = $event" [p-options]="Etiqueta"> </po-combo>
        <po-input class="po-md-12" name="produtorMusical" p-disabled="true" [(ngModel)]="produtorMusical"
            p-label="Produtor musical"></po-input>
        <po-input class="po-md-6" name="novoNumero" p-disabled="true" [(ngModel)]="novoNumero"
            p-label="Numero Tape"></po-input>
            <po-switch class="po-md-4" [p-disabled]="true" name="stream" p-label="On stream" [(ngModel)]="stream"> </po-switch>
            <po-switch class="po-md-4" [p-disabled]="true" name="notstream" p-label="Not stream" [(ngModel)]="notStream"> </po-switch>
            <po-switch class="po-md-4" [p-disabled]="true" name="midia" p-label="Midia digitalizada" [(ngModel)]="midiaDigital"> </po-switch>
            <po-checkbox-group *ngIf="stream" [p-disabled]="true" class="po-lg-12" name="agregadoresss" p-label="Selecione o(s) agregador(es)" [p-options]="agregadorOptions"
            [ngModel]="agregadoresMarcados" (ngModelChange)="agregadoresMarcados = $event">
            </po-checkbox-group>
        
            <po-table [p-hide-columns-manager]="true" [p-hide-table-search]="true" [p-sort]="true"
            [p-striped]="true" p-container="light" [p-columns]="columns" [p-items]="listaMusicas" p-container="shadow"></po-table>
    </div>

</po-modal>

<po-modal #modalQRCode p-size="xl" [p-primary-action]="confirmaQRCode" p-click-out="false" [p-hide-close]="false"
    p-title="QR Code de Impressão">
    <div id="elementToPrint" class="qrcode-container">
        <img #qrcodeImage [src]="qrCodeImage" alt="QR Code">
    </div>
</po-modal>

<po-modal #modalExport [p-primary-action]="confirmaExportacao" p-click-out="false" [p-hide-close]="false"
    p-title="Exportar consulta">
    <po-select name="select" p-label="Selecione o formato:" [p-options]="[
    { label: 'CSV (Separado por ponto e vírgula;)', value: 'csv' },
    { label: 'PDF', value: 'pdf' }
  ]" [ngModel]="tipoExport" (ngModelChange)="tipoExport = $event">
    </po-select>
</po-modal>
<!-- </po-page-edit> -->