<!-- <po-page-edit p-title="Orçamentos" class="p-m-0"> -->
    <po-page-default p-title="Sessão de gravadoras">
        <div class="po-row">
            <po-input class="po-md-5" name="buscacliente" p-label="Pesquisar gravadora" [(ngModel)]="Gravadora"
                (p-change-model)="buscarGravadora()" p-icon="po-icon po-icon-search">
            </po-input>
    
            <po-button class="po-m-5" style="margin-left: auto" p-label="Exportar" (p-click)="Exportacao()"></po-button>
            <po-button *ngIf="criar === 'true'" class="po-m-5" p-label="+ Incluir gravadora" (p-click)="criarGravadora()"
                p-type="primary">
            </po-button>
        </div>
        <po-table [p-hide-columns-manager]="true" [p-hide-table-search]="true" [p-sort]="true" [p-striped]="true" p-container="light"
            [p-columns]="colunas" [p-items]="listaGravadoras" p-container="shadow">
        </po-table>
    </po-page-default>
    
    <po-modal #modalGravadora [p-primary-action]="confirmaGravadora" [p-secondary-action]="cancelarGravadora" p-click-out="false"
        [p-hide-close]="true" p-title="Gravadora">
        <form #ProdutoForm="ngForm">
            <po-divider p-label="Dados gerais"></po-divider>
            <div class="po-row">
                <po-input class="po-md-12" name="nomeGravadora" p-label="Nome da gravadora" [(ngModel)]="nome_gravadora"></po-input>
            </div>
        </form>
    </po-modal>
    <po-modal #modalGravadoraView  p-click-out="false"
        [p-hide-close]="true" p-title="Gravadora">
        <form #ProdutoForm="ngForm">
            <po-divider p-label="Dados gerais"></po-divider>
            <div class="po-row">
                <po-input class="po-md-12" name="nomeGravadora" p-label="Nome da gravadora" p-disabled="true" [(ngModel)]="nome_gravadora"></po-input>
            </div>
        </form>
    </po-modal>
    <po-modal #modalExport [p-primary-action]="confirmaExportacao" p-click-out="false" [p-hide-close]="false"
    p-title="Exportar consulta">
    <po-select name="select" p-label="Selecione o formato:" [p-options]="[
    { label: 'CSV (Separado por ponto e vírgula;)', value: 'csv' },
    { label: 'PDF', value: 'pdf' }
  ]" [ngModel]="tipoExport"
  (ngModelChange)="tipoExport = $event">
    </po-select>
</po-modal>
    <!-- </po-page-edit> -->